//* ヘッダー 関連 */

header {
    background-color: #333; /* 背景色 */
    height: 60px; /* 高さ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 左右のパディング */
    color: #fff; /* テキスト色 */
  }
  
  /* ヘッダー内のロゴまたはタイトルのスタイル */
  .header-logo {
    font-size: 24px; /* フォントサイズ */
    font-weight: bold; /* フォントの太さ */
    text-decoration: none; /* 下線を削除 */
    color: #fff; /* ロゴのテキスト色 */
  }
  
  /* ナビゲーションメニューのスタイル */
  .nav-menu {
    list-style: none; /* リストスタイルを削除 */
    margin: 0;
    padding: 0;

    li {
        display: inline-block; /* メニュー項目を横並びに配置 */
        margin-right: 20px; /* メニュー項目間の間隔 */
    }

    a {
        text-decoration: none; /* 下線を削除 */
        color: #fff; /* メニューリンクのテキスト色 */
        font-weight: bold; /* メニューリンクのフォントの太さ */
        font-size: 16px; /* メニューリンクのフォントサイズ */

        &:hover {
            color: #33a3a4; /* ホバー時のテキスト色 */
        }
    }
  }

//* 投票一覧カード 関連 */

.card-poll-list {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* 親要素を相対位置指定 */

    h2 {
        font-size: 18px;
        margin: 0;
        text-align: left; /* 左寄せ */
    }

    p {
        font-size: 14px;
        margin: 0;
        padding: 10px; /* 必要に応じて余白を設定 */
        text-align: center; /* テキストを中央揃えにする */
        flex: 1; /* 幅を均等に分割する */
    }

    p.bold {
        font-size: 16px;
        font-weight: bold;
    }

}

.card-content-poll-list {
    padding: 10px;
}

.card-content-wrapper-poll-list {
    background-color: #FFF;
    display: flex; /* Flexbox を有効にする */
    flex-direction: row; /* 要素を横に並べる */
    align-items: center; /* 縦 中央揃え */
    margin: 10px;
}

//* 投票一覧パーツ 関連 */

.pollbar-container {
    width: 360px;
    height: 20px;
    background-color: #ccc;
    margin: 0 auto; /* 中央揃え */
    display: flex;
  }
  
.pollbar-segment-1 {
    background-color: #3498db;
    height: 100%;
}
  
.pollbar-segment-2 {
    background-color: #e74c3c;
    height: 100%;
}

//* 投票作成カード 関連 */

.card-poll-edit {
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 40px;
    border-radius: 15px;
    overflow: hidden;
    position: relative; /* 親要素を相対位置指定 */

    button {
        font-weight: bold;
        width: 120px;
        background-color: #33a3a4;
        color:#fff;
        margin: 10px;
    }
}

.card-poll-inputblock {
    padding: 0 10px;
    h3 {
        margin: 5px;
        margin-left: 18px;
        text-align: left; /* 左寄せ */
        left:10px;
    }
}

.poll-content-input {
    font-size: 18px;
    width: 95%;
    padding: 8px;
    margin-bottom: 12px;
    border: 2px solid #33a3a4;
    border-radius: 5px;
    color:#333;
    background-color: white;

}
