@mixin card-styles {
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 40px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

// 一般的なブロック要素 -> RGBと透明度を引数に持つ
@mixin common-block($red, $green, $blue, $alpha) {
    background-color: rgba($red, $green, $blue, $alpha);
    width: 100%;
    margin: 0 25px;
}

//* ヘッダー 関連 */

header {
    background-color: #333; /* 背景色 */
    height: 60px; /* 高さ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 左右のパディング */
    color: #fff; /* テキスト色 */
}

/* ヘッダー内のロゴまたはタイトルのスタイル */
.header-logo {
    font-size: 24px; /* フォントサイズ */
    font-weight: bold; /* フォントの太さ */
    text-decoration: none; /* 下線を削除 */
    color: #fff; /* ロゴのテキスト色 */

    &:hover {
        color: #33a3a4; /* ホバー時のテキスト色 */
    }
}

/* ナビゲーションメニューのスタイル */
.nav-menu {
    list-style: none; /* リストスタイルを削除 */
    margin: 0;
    padding: 0;

    li {
        display: inline-block; /* メニュー項目を横並びに配置 */
        margin-right: 20px; /* メニュー項目間の間隔 */
    }

    a {
        text-decoration: none; /* 下線を削除 */
        color: #fff; /* メニューリンクのテキスト色 */
        font-weight: bold; /* メニューリンクのフォントの太さ */
        font-size: 16px; /* メニューリンクのフォントサイズ */

        &:hover {
            color: #33a3a4; /* ホバー時のテキスト色 */
        }
    }
}

//* 投票一覧 関連 */

.card-poll-list {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* 親要素を相対位置指定 */

    h2 {
        font-size: 18px;
        margin: 0;
        text-align: left; /* 左寄せ */
    }

    p {
        font-size: 14px;
        margin: 0;
        padding: 10px; /* 必要に応じて余白を設定 */
        text-align: center; /* テキストを中央揃えにする */
        flex: 1; /* 幅を均等に分割する */
    }

    p.bold {
        font-size: 16px;
        font-weight: bold;
    }

}

.card-content-poll-list {
    padding: 10px;
}

.card-content-wrapper-poll-list {
    background-color: #FFF;
    display: flex; /* Flexbox を有効にする */
    flex-direction: row; /* 要素を横に並べる */
    align-items: center; /* 縦 中央揃え */
    margin: 10px;
}

//* 投票一覧パーツ 関連 */

.pollbar-container {
    width: 360px;
    height: 20px;
    background-color: #ccc;
    margin: 0 auto; /* 中央揃え */
    display: flex;
}
  
.pollbar-segment-1 {
    background-color: #3498db;
    height: 100%;
}
  
.pollbar-segment-2 {
    background-color: #e74c3c;
    height: 100%;
}

//* 投票作成 関連 */

.card-poll-edit {
    @include card-styles;

    button {
        font-weight: bold;
        width: 120px;
        background-color: #33a3a4;
        color:#fff;
        margin: 10px;
    }
}

.card-poll-inputblock {
    padding: 0 10px;
    h3 {
        margin: 5px;
        margin-left: 18px;
        text-align: left; /* 左寄せ */
        left:10px;
    }
}

.poll-content-input {
    font-size: 18px;
    width: 95%;
    padding: 8px;
    margin-bottom: 12px;
    border: 2px solid #33a3a4;
    border-radius: 5px;
    color:#333;
    background-color: white;
}

//* 投票画面　関連 */

.card-poll-view {
    @include card-styles;

    h2 {
        text-align: left;
        position: relative;
        padding: 1rem .5rem;
    }
      
    h2:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        content: '';
        border-radius: 3px;
        background-image: -webkit-gradient(linear, right top, left top, from(#33a3a4), to(#00fda9));
        background-image: -webkit-linear-gradient(right, #33a3a4 0%, #00fda9 100%);
        background-image: linear-gradient(to left, #33a3a4 0%, #00fda9 100%);
    }

    h3 {
        text-align: left;
    }
}

.choices-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 60px auto; /* 中央揃え */
    display: flex;
    justify-content: center;
}

.one-choice-container {
    margin: 15px auto;
    padding: 40px;
}

.first-choice-block {
    @include common-block(52, 152, 219, 0.1);
    border: 2px solid #2980b9; /* 枠線の設定（太さと色） */
    border-radius: 25px;

    button {
        background-color: #3498db;
        color:white;
        font-weight: bold; /* フォントの太さ */
        border: 2px solid #2980b9; /* 枠線の設定（太さと色） */
        box-shadow: 0 4px 6px rgba(0, 0, 0.2, 0.2); /* 影の設定 */
        transition: background-color 0.3s ease; /* ホバー時のトランジション */
    }
    button:hover {
        background-color: #2980b9; /* ホバー時の背景色 */
    }
}

.second-choice-block {
    @include common-block(231, 76, 60, 0.1);
    border: 2px solid #c0392b; /* 枠線の設定（太さと色） */
    border-radius: 25px;

    button {
        background-color: #e74c3c;
        color:white;
        font-weight: bold; /* フォントの太さ */
        border: 2px solid #c0392b; /* 枠線の設定（太さと色） */
        box-shadow: 0 4px 6px rgba(0, 0, 0.2, 0.2); /* 影の設定 */
        transition: background-color 0.3s ease; /* ホバー時のトランジション */
    }
    button:hover {
        background-color: #c0392b; /* ホバー時の背景色 */
    }
}

.copy-url-block {
    justify-content: center;
    display: flex;
    align-items: center; /* 縦 中央揃え */

    input {
        margin: 0 12px;
        font-size: 14px;
        font-weight: bold; /* フォントの太さ */
        border: 2px solid #33a3a4;
        border-radius: 5px;
        width: 50%;
        height: 28px;
    }
}